/* 改变主题色变量 */
$--color-primary: #F9CA05;
$--color-warning: #F79116;
$--color-info: #D0D3D9;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";